src/main/mule/dbiz-properties-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="dbiz-properties-sys-api-main">
        <http:listener config-ref="dbiz-properties-sys-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="dbiz-properties-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="dbiz-properties-sys-api-console">
        <http:listener config-ref="dbiz-properties-sys-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="dbiz-properties-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\documents\(propertyId):dbiz-properties-sys-api-config">
        <logger level="INFO" doc:name="Entry Logger" doc:id="6dee1b68-06f9-42b2-aa14-0cfd32347a88" message="Process flow started for the flow : get:\documents\(propertyId)!"/>
		<logger level="INFO" doc:name="Log Property Id" doc:id="cd38d481-8ba6-4457-a126-a096a8229d90" message="Propertie ID: #[attributes.uriParams.'propertyId']"/>
		<ee:transform doc:name="Set Propertie ID">
            <ee:variables>
                <ee:set-variable variableName="propertyId">attributes.uriParams.'propertyId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Response Payload Mocked">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    docName: "property index2",
    url: "https://documents/library/report.pdf"
  }, 
  {
    docName: "property sale deed",
    url: "https://documents/library/sale-deed.pdf"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Exit Logger" doc:id="aaa25673-30f4-4528-bba2-a2ade3e62042" message="Process flow ended for the flow : get:\documents\(propertyId)!"/>
    </flow>
    <flow name="get:\owners\(propertyId):dbiz-properties-sys-api-config">
        <logger level="INFO" doc:name="Entry Logger" doc:id="01e6da20-b881-4c89-9fcf-d11a28b7b9bb" message="Process flow started for the flow :get:\owners" />
		<logger level="INFO" doc:name="Log Property Id" doc:id="e117fa8f-b6df-459c-b437-a45af7a9c777" message="Propertie ID: #[attributes.uriParams.'propertyId']" />
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="propertyId">attributes.uriParams.'propertyId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    name: "John Doe"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Exit Logger" doc:id="41c985d0-b3e6-4525-b751-b1ca4bec151d" message="Process flow ended for the flow : get:\owners" />
    </flow>
    <flow name="get:\location\(propertyId):dbiz-properties-sys-api-config">
        <logger level="INFO" doc:name="Entry Logger" doc:id="14f5c51f-155b-4089-be37-7863f3a5e261" message="Process flow started for the flow : get:\location" />
		<logger level="INFO" doc:name="Log Property Id" doc:id="a31b0f8f-b6cb-4a2a-a37f-c59866a8c46b" message="Propertie ID: #[attributes.uriParams.'propertyId']" />
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="propertyId">attributes.uriParams.'propertyId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  location: {
    address: {
      postCode: "8037",
      city: "Zurich",
      street: "Nordstrasse",
      houseNumber: "391"
    }
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Exit Logger" doc:id="45a7a027-7a3b-4c7f-94d7-3caf912397b5" message="Process flow ended for the flow : get:\location" />
    </flow>
    <flow name="get:\valuations\(propertyId):dbiz-properties-sys-api-config">
        <logger level="INFO" doc:name="Entry Logger" doc:id="c7942f51-71a7-4997-b627-93121f6c6d8c" message="Process flow started for the flow : get:\valuations" />
		<logger level="INFO" doc:name="Log Property Id" doc:id="4c8fc03d-81b8-4ca5-a9d3-c2e1df8fcd8c" message="Propertie ID: #[attributes.uriParams.'propertyId']" />
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="propertyId">attributes.uriParams.'propertyId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    valuation_date: "2025-06-01",
    market_value: 7500000,
    internal_report_value: 7200000
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Exit Logger" doc:id="d6e1bbf6-dde7-46a2-96c7-540deb81f269" message="Process flow ended for the flow : get:\valuations" />
    </flow>
    <flow name="post:\property:application\json:dbiz-properties-sys-api-config">
        <logger level="INFO" doc:name="Entry Logger" doc:id="78eaeeee-628c-41e1-a5bd-14cd8e6fc62d" message="Process flow started for the flow : post:\property" />
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  responseCode: 200,
  correlationId: "f412a33b-7d81-47c7-a76b-34d02296668c",
  timestamp: "2025-07-17T12:59:55.16857Z",
  details: {
    propertyId: "CH212",
    description: "property created successfully"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Exit Logger" doc:id="5dc1a5d6-b37e-4513-8998-d8c006ad3068" message="Process flow ended for the flow :post:\property" />
    </flow>
</mule>
